@model IEnumerable<ReservationModel>
@{
    ViewData["Title"] = "ReservationManagement";
    Layout = "~/Views/Manage/_Layout.cshtml";
    ViewData.AddActivePage(ManageNavPages.ReservationManagement);
}

<style>
    ul.servicelst {
        padding: 0px;
        margin: 0px;
    }
        ul.servicelst li {
            font-size: 13px;
            line-height: 35px;
            list-style: none;
            border-bottom: dashed 1px #d0d0d0;
            padding-left: 5px;
        }

    div.servicelstfooter a {
        margin-right: 20px;
        font-size: 13px;
        cursor: pointer;
        line-height: 40px;
    }
</style>
<h2 style="font-size:18px; font-weight:bold; line-height:40px; margin-top:0px;">预约单列表</h2>
<ul class="servicelst">
    @{
        var lastPage = ViewBag.CurrentPageIndex <= 1 ? 1 : ViewBag.CurrentPageIndex - 1;
        var nextPage = ViewBag.CurrentPageIndex + 1;
        if (Model != null && Model.Count() > 0)
        {
            foreach (var item in Model)
            {
                var statusDesc = "";
                switch ((int)item.Status)
                {
                    case 1: statusDesc = "待确认"; break;
                    case 2: statusDesc = "已支付"; break;
                    case 9: statusDesc = "已完成"; break;
                    case 4: statusDesc = "已失败"; break;
                    case 7: statusDesc = "已取消"; break;
                    default: statusDesc = ""; break;
                }

                <li>@item.ReservationNo  @item.CustomerName  @item.CustomerMobile  @item.AppointTime  <b>@statusDesc</b></li>
            }
        }
        else
        {
            <li>没有数据了，返回 <a href="/Manage/ReservationManagement?pageindex=@ViewBag.CurrentPageIndex">上一页</a></li>
        }
    }
</ul>
@if (Model != null && Model.Count() > 0)
{
    <div class="servicelstfooter">
        <a href="/Manage/ReservationManagement?pageindex=@lastPage">上一页</a>
        <a href="javascript:return void(0);">@ViewBag.CurrentPageIndex</a>
        <a href="/Manage/ReservationManagement?pageindex=@nextPage">下一页</a>
    </div>
}